awpy>=1.2.3
boto3>=1.20.48
imageio>=2.28.1
matplotlib>=3.7.1
numba>=0.57.0
numpy>=1.24.3
pandas>=2.0.1
patool>=1.12
PyMySQL[rsa]>=1.0.2
requests>=2.30.0
requests_ip_rotator>=1.0.10
scikit-learn>=1.2.2
scikit-learn-extra>=0.3.0
scipy>=1.10.1
sympy>=1.12.0
tensorflow>=2.12.0
tqdm>=4.65.0
watchdog>=2.1.6
