body {
    background-color: #232F3E;
}

h1 {
    color: #722007;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    color: #f9f9f9;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

label,
button {
    color: #FF9900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px;
}

.radio_div {
    width: 150px;
    margin-left: 0px;
    margin-right: 0px;
}

.dynamic_button {
    font-size: 20px;
    margin: 0px;
    text-align: center;
}

.dynamic_button:hover {
    background-color: #8d150c;
}

input {
    color: #232F3E;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    font-size: 20px;
    padding: 0px;
    overflow: hidden;
    background-color: #232F3E;
    vertical-align: top;
    margin: 0px;
}

li {
    margin: 0px;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    vertical-align: top;
    margin: 0px;
    width: 150px;
}

.dropdown {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 0px;
    max-width: 150px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
    left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 0px;
    padding: 0px;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.addBtn {
    margin: 0px;
    width: 150px;
}

/* Create two equal columns that floats next to each other */
.component {
    padding: 5px;
    display: block;
}

.column {
    padding: 5px;
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.time_label {
    width: 150px;
    display: inline-block;
    margin-right: 0px;
}

.time_input {
    width: 60px;
    margin: 0px;
    padding: 0px;
}

.result_text {
    color: #dcd0c1
}

.map_hull {
    width: 700px;
    height: auto;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-bottom: 6px solid #9c41f2;
    border-radius: 100%;
    display: none;
    animation: spin 1s infinite linear;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#timer {
    display: none;
    font-size: 4rem;
    margin: 0px;
    padding: 0px;
}